$body-bg: rgb(25 26 31);
$color-primary: #ff0000;
$text-color: #fff;
$shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$header-height: 150px;
$radius: 10px;
$mobile-width: 600px;
$tablet-width: 1024px;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
$font-family: 'Montserrat', sans-serif;
